<div ng-controller="AddressCtrl">
    <div class="wrapper-md bg-light b-b">
        <label class="i-switch bg-warning pull-right">
            <input type="checkbox" ng-true-value="1"  ng-false-value="0" ng-model="frm.vip" ng-change="setPage(1);setCountGroup()">
            <i></i>
        </label>
        <span class="m-n h2"><i class="fa fa-home text-info"></i> Kho hàng mới</span>
    </div>
    
    <div class="hbox hbox-auto-xs hbox-auto-sm">
        <div class="col wrapper-sm">
            <div class="panel panel-default">
                <div class="panel-heading">

                    <form class="form-validation" role="form" ng-submit="setPage(1);setCountGroup()" name="frmSearch">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group controls padder">
                                    <input type="text" class="form-control" placeholder="Họ tên, email hoặc sđt khách hàng ..."
                                           ng-model="frm.keyword"
                                            />
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="form-group controls padder">
                                    <select class="form-control m-b"
                                            ng-model="frm.city_id"
                                            ng-options="item.id as item.city_name for item in list_city"
                                            ng-disabled = "userInfo.country_id != 237"
                                    >
                                        <option value="">Tỉnh/Thành Phố</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="form-group controls input-group">
                                    <input type="text" class="form-control" placeholder="Tạo từ ngày ..."
                                           ng-model="time.create_start"
                                           datepicker-popup="dd-MM-yyyy"
                                           is-open="time_create_start_open"
                                           datepicker-options="dateOptions"
                                           close-text="Close"
                                            />
                                    <span class="input-group-btn icon-input">
                                        <i class="btn fa fa-calendar "></i>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group controls padder">
                                    <input type="text" class="form-control" placeholder="chodientu.vn, shipchung.vn"
                                           ng-model="frm.domain"
                                            />
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="form-group controls padder">
                                    <select
                                            boxme-district-by-province
                                            province-id="frm.city_id"
                                            district-id="frm.district_id"
                                            default-label="Quận/Huyện"
                                            ng-model="frm.district_id"
                                            ng-disabled = "userInfo.country_id != 237"
                                            class="form-control">
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="form-group controls input-group">
                                    <input type="text" class="form-control" placeholder="Đến ngày ..."
                                           datepicker-popup="dd-MM-yyyy"
                                           is-open="time_create_end"
                                           datepicker-options="dateOptions"
                                           date-disabled="disabled(date, mode)"
                                           close-text="Close"
                                           ng-model="time.create_end"
                                            />
                                  <span class="input-group-btn icon-input">
                                    <i class="btn fa fa-calendar "></i>
                                  </span>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="row" ng-show="list_pipe_status">
                            <div class="col-lg-12">
                                <div class="checkbox padder">
                                    <label class="i-checks padder-md padder-xs" ng-repeat="item in list_pipe_status">
                                        <input type="checkbox"
                                               ng-model="check"
                                               ng-change="toggleSelection(item.status)" /><i></i>
                                        {{item.name || 'Trạng thái'}}
                                    </label>
                                </div>
                            </div>
                        </div> -->

                        <div class="row">
                            <div class="col-lg-3 padder-lg">
                                <button type="submit" class="btn m-b-xs w-xs btn-info" ng-disabled="frmSearch.$invalid"><i class="fa fa-search"></i> Tìm kiếm</button>
                            </div>
                            <div class="col-lg-3 col-lg-offset-6">
                                <button type="button" class="btn m-b-xs btn-success pull-right" ng-click="exportExcel('export')"><i class="fa fa-file-excel-o"></i> Xuất Excel</button>
                            </div>
                        </div>

                    </form>
                </div>

                <div class="panel-body">
                    <div class="tab-container">
                            <div class="table-responsive">
                                    <table class="table-condensed table-hover w-full">
                                        <thead>
                                            <td>
                                                #
                                            </td>
                                            <td>
                                                Kho hàng
                                            </td>
                                            <td>
                                                <i class="fa fa-clock-o"></i> Thời gian
                                            </td>
                                            <td>
                                                <i class="fa fa-home"></i>&nbsp; Địa chỉ
                                            </td>
                                            <td>
                                                <i class="fa fa-gift"></i> Đơn hàng cần lấy
                                            </td>
                                            <td>
                                                <i class="fa fa-krw"></i> Khối lượng
                                            </td>
                                        </thead>
                                        <tbody ng-show="waiting">
                                            <tr>
                                                <td colspan="6" class="text-center">
                                                    <i class="text-3x fa fa-spinner fa-spin"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tbody ng-show="totalItems == 0 && !waiting">
                                            <tr >
                                                <td colspan="6" class="text-center">
                                                    Không có dữ liệu
                                                </td>
                                            </tr>
                                        </tbody>

                                        <tbody ng-repeat="item in list_data" class="b-b">
                                        <tr>
                                            <td>{{item_stt + $index + 1}}</td>
                                            <td>
                                                <p><i class="fa fa-tasks text-info" ng-if="item.has_task"></i> Kho : {{item.name}} <i ng-class="{'fa fa-star text-lgx text-warning' : list_vip.indexOf(item['user_id']) != -1}"></i></p>
                                                <span ng-show="item.user.id">
                                                    {{item.user.email}} * 
                                                    <a href="callto:{{item.user.phone}}">
                                                        {{item.user.phone}}
                                                    </a>
                                                </span>
                                            </td>
                                            <td>
                                                <span ng-if="item.time_create > 0">{{ item.time_create * 1000  | date : "dd-MM-yyyy  HH:mm"}}</span>
                                            </td>
                                            <td>
                                                {{item.address || ''}} {{item.ward.ward_name || ''}}, {{item.district.district_name || 'Quận/Huyện'}} {{item.city.city_name || 'Thành Phố'}} {{country[item.country_id] || 'Quốc gia'}}
                                            </td>

                                            <td>
                                                {{group_order[item.id] ? group_order[item.id].total : '0'}}
                                            </td>

                                            <td>
                                                {{group_order[item.id] ? group_order[item.id].total_weight : '0'}} gram
                                            </td>
                                        </tr>
                                        <tr>
                                            
                                            <td colspan="7" class="text-left">
                                                <ul class="breadcrumb bg-white m-n">
                                                    <li ng-click="openAddTask([{refer_id:item.id, name: item.name + ' - ' + item.phone + ' - ' + item.address, type: 2}], item)" class="pointer"><i class="text-success text-lg fa fa-plus"></i> Thêm công việc</li>
                                                    <li ng-if="item.task"><a ui-sref="tasks.list.detail({state: 'ALL', id: item.task.id})" target="_blank" ><i class="fa fa-task"></i> <label class="label  {{list_task_category[item.task.category_id].color == '' ? 'label-default' : ''}}" style="background-color: {{list_task_category[item.task.category_id].color}}">{{list_task_category[item.task.category_id].name}}</label><span class="text-info" > <i class="fa {{task_state_info[item.task.state].icon}}"></i> {{item.task.name}}</span></a></li>
                                                </ul>
                                            </td>


                                            <!-- <td colspan="7" class="text-left">
                                                <ul class="breadcrumb bg-white m-n">
                                                    <li><a href="javascript:;"><i class="fa fa-flag"></i> Kho hàng : </a></li>
                                                    <li ng-repeat="it in item.pipe_journey" ng-class="{'active':$last}" tooltip-html-unsafe="{{it.note || ''}} <br /> {{ item.time_create * 1000 | date : 'dd-MM-yyyy  HH:mm' }}" tooltip-placement="top">
                                                        <a href="javascript:;">
                                                            {{pipe_status[it.pipe_status] || 'Hành trình'}}
                                                        </a>
                                                    </li>
                                                    <li ng-click="action(item, list_pipe_status, pipe_priority[item.pipe_status], 3, 100)" class="pointer"><i class="text-success text-lg fa  fa-plus"></i></li>
                                                    <progressbar value="(pipe_priority[item.pipe_status]/pipe_limit)*100 || '0'" class="progress-xs bg-light m-n" animate="true" type="success">
                                                    </progressbar>
                                                </ul>
                                            </td> -->

                                        </tr>
                                        </tbody>
                                    </table>

                                    <div class="row" ng-show="list_data.length">
                                        <div class="col-sm-3 wrapper-md pull-left">
                                            <strong>Tổng số</strong> : <i class="text-danger">{{totalItems || '0'}}</i> kho hàng
                                        </div>
                                        <div class="col-sm-4 text-right text-center-xs pull-right">
                                            <pagination total-items="totalItems" ng-model="currentPage" data-max-size="maxSize" items-per-page="{{item_page}}" ng-change="setPage(currentPage)"></pagination>
                                        </div>
                                    </div>
                                    <script id="ModalAdd.html" type="text/ng-template">
                                        <div ng-include="'tpl/pickup/modal.address.html'"></div>
                                    </script>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>