<div class="wrapper-md bg-light b-b">
  <h1 class="m-n font-thin h3 text-black"><i class="fa fa-envelope-o text-info"></i> Log SMS</h1>
  <small class="text-muted">
  </small>

</div>

<div class="hbox hbox-auto-xs hbox-auto-sm" data-ng-controller="LogSentSmsCtrl">
  <div class="col wrapper-sm">
    <div class="panel panel-default">
      <div class="panel-heading">
        <form class="form-validation form-horizontal" ng-submit="setPage(1)">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group controls padder">
                        <input type="text" placeholder="Số điện thoại gửi " class="form-control" ng-model="phone">
                    </div>
                </div>
            </div>
            <div class="row" ng-show="infoUser.id == 2">
                <div class="col-xs-12">
                  <button class="btn btn-info" type="submit">Tìm kiếm</button>
                </div>
            </div>
                  
        </form>
      </div>

      <div class="panel-body table-responsive">
          <table class="table table-condensed table-hover w-full">
              <thead>
                <tr>
                    <th style="width:20px;">#</th>
                    <th>Số điện thoại</th>
                    <th>Nội dung</th>
                    <th>Trạng thái</th>
                    <th>Thời gian tạo</th>
                    <th>Thời gian gửi</th>
                </tr>
            </thead>
            <tbody>
              <tr ng-if="stateLoading">
                  <td colspan="20" class="text-center">
                      <i class="text-3x fa fa-spinner fa-spin"></i>
                  </td>
              </tr>
              <tr ng-if="totalItems == 0 && !stateLoading">
                  <td colspan="20" class="text-center">Không có dữ liệu</td>
              </tr>
              
                <tr ng-repeat="key in keys(listData)">
                    <td>{{ item_stt + $index + 1}}</td>
                    <td>{{listData[key]['to_phone']}}</td>
                    <td>{{listData[key]['content']}}</td>
                    <td>
                        <em ng-if="listData[key]['status'] == 0">Chưa gửi</em>
                        <em ng-if="listData[key]['status'] == 1">Đã gửi</em>
                        <em ng-if="listData[key]['status'] == 2">Lỗi ({{listData[key]['error_result'] || 'sự cố'}})</em>
                    </td>
                    <td>
                        <span ng-if="listData[key]['time_create'] > 0">{{listData[key]['time_create'] *1000|date : 'dd/MM/yy HH:mm'}}</span>
                    </td>
                    <td><span ng-if="listData[key]['time_send'] > 0">{{listData[key]['time_send']*1000|date : 'dd/MM/yy HH:mm'}}</span></td>
                </tr>
            </tbody>
          </table>

          <!-- pagination -->
          <div ng-show="totalItems > 0 && !stateLoading" class="row">
                  <div class="col-sm-3 wrapper-md pull-left">
                      <strong>Tổng số</strong> : <i class="text-danger">{{totalItems}}</i> bản ghi
                  </div>
                  <div class="col-sm-4 text-right text-center-xs pull-right">
                    <pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" items-per-page="{{item_page}}" ng-change="setPage(currentPage)" next-text="Next"></pagination>
                  </div>
              </div>
      </div>
    </div>
  </div>
</div>