<toaster-container toaster-options="{'position-class': 'toast-bottom-right', 'close-button':true}"></toaster-container>
<div class="bg-light lter b-b wrapper-md ng-scope">
  <div class="row">
    <h1 class="m-n font-thin h3 col-md-4">List System Scenario Config</h1>
  </div>
</div>
<div class="panel panel-default" ng-controller="SystemScenarioCtrl">
    <div class="row wrapper">
      <div class="col-sm-3">
        <div class="input-group hide">
          <input type="text" placeholder="Name....." class="input-sm form-control">
          <span class="input-group-btn">
            <button type="button" class="btn btn-sm btn-default">Go!</button>
          </span>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped b-t b-light">
        <thead>
          <tr>
            <th style="width:20px;">#</th>
            <th>Name</th>
            <th>Transport</th>
            <th>Active</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="value in dataResult">
            <td>{{ item_stt + $index + 1}}</td>
            <td>{{ value.scenario_name }}</td>
            <td>{{ value.transport_name }}</td>
            <td>
            	<label class="i-switch bg-primary m-t-xs m-r">
                    <input type="checkbox" ng-model="active" ng-change="changeSysConfig(value.id,active,'active')" ng-checked="value.active == 1" ng-true-value="1" ng-false-value="0" />
                    <i></i>
                </label>
            </td>
            <td>
                <button class="btn btn-sm btn-danger btn-addon" ng-click="delScenarioTemp(value.id,$index)"><i class="fa fa-trash-o"></i>Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <footer class="panel-footer">
      <div class="row">
        <div class="col-sm-4 text-right text-center-xs pull-right">                
            <pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" items-per-page="{{item_page}}" ng-change="setPage()"></pagination>
        </div>
      </div>
    </footer>
</div>