<toaster-container toaster-options="{'position-class': 'toast-bottom-right', 'close-button':true}"></toaster-container>
<div class="bg-light lter b-b wrapper-md ng-scope">
  <div class="row">
    <h1 class="m-n font-thin h3 col-md-2">Create Scenario</h1>
  </div>
</div>
<div class="panel panel-default" ng-controller="ScenarioActionCtrl">
<form>
	<div class="panel-body">
		<div class="row">
		    <div class="form-group">
		        <label class="col-sm-1 control-label">Name</label>
		         <div class="col-sm-4">
		            <input type="text" class="form-control" placeholder="Name..." ng-model="data.name">
		        </div>
		    </div>
		</div>
		<div class="line line-dashed b-b line-lg pull-in"></div>
		<div class="row">
		    <div class="form-group">
		        <label class="col-sm-1 control-label">Description</label>
		         <div class="col-sm-6">
		            <textarea class="form-control" ng-model="data.description"></textarea>
		        </div>
		    </div>
		</div>
		<div class="line line-dashed b-b line-lg pull-in"></div>
		<div class="row">
			<div class="form-group pull-left">
		        <div class="col-sm-6 col-sm-offset-2">
		            <button class="btn btn-primary" ng-click="saveScenario(data)">Save</button>
		        </div>
	        </div>
		</div>
	</div>
</form>
</div>