<div data-ng-controller="CouponsListCtrl">
    <div class="wrapper-md bg-light b-b">
      <h1 class="m-n font-thin h3 text-black pull-left"><i class="fa fa-shopping-cart text-info"></i> Danh sách coupons</h1>

      <small class="text-muted pull-right">
      <button class="btn btn-success"  ng-click="openCreateCoupon()">Tạo coupons</button>
      </small>
      <div class="clearfix"></div>
    </div>

    <div class="hbox hbox-auto-xs hbox-auto-sm" >
      <div class="col wrapper-sm">
        <div class="panel panel-default">
          <div class="panel-heading">
            <form class="form-validation form-horizontal" ng-submit="setPage(1,phone)">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group controls padder">
                            <input type="text" placeholder="Nhập mã coupon cần tìm " class="form-control" ng-model="phone">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                      <button class="btn btn-info" type="submit">Tìm kiếm</button>
                    </div>
                </div>
                      
            </form>
          </div>

          <div class="panel-body">
              <table class="table table-bordered tablesorter bg-white">
                  <thead>
                    <tr>
                        <th style="width:20px;">#</th>
                        <th>Mã code</th>
                        <th>Giảm</th>
                        <th>Kiểu coupon</th>
                        <th>Số lần có thể sử dụng</th>
                        <th>Trạng thái</th>
                        <th>Thời hạn sử dụng</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody>
                  <tr ng-if="stateLoading">
                      <td colspan="20" class="text-center">
                          <i class="text-3x fa fa-spinner fa-spin"></i>
                      </td>
                  </tr>
                  <tr ng-if="totalItems == 0 && !stateLoading">
                      <td colspan="20" class="text-center">Không có dữ liệu</td>
                  </tr>
                  
                    <tr ng-repeat="one in listData">
                        <td>{{ item_stt + $index + 1}}</td>
                        <td>{{one.code }} </td>
                        <td>{{one.discount | number}} {{one.discount_type == 1 ? 'vnđ' : '%'}}</td>
                        <td>Sử dụng cho toàn bộ khách hàng</td>
                        <td >{{one.limit_usage}} </td>
                        <td>
                              Đã được sử dụng
                        </td>
                        <td>
                            {{one.time_expired * 1000 | date:'dd-MM-yyyy HH:mm a'}} <br/>
                            <strong ng-if="checkExpired(one.time_expired * 1000)" class="text-danger">Đã hết hạn</strong>
                        </td>
                        <td >
                          <!-- Split button -->
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary" ng-click="openCreateCoupon(one)">Xóa</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
              </table>

              <!-- pagination -->
              <div ng-show="listData.length > 0" class="row">
                      <div class="col-sm-3 wrapper-md pull-left">
                          <strong>Tổng số</strong> : <i class="text-danger">{{totalItems}}</i> bản ghi
                      </div>
                      <div class="col-sm-4 text-right text-center-xs pull-right">
                        <pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" items-per-page="{{item_page}}" ng-change="setPage(page,phone)" next-text="Next"></pagination>
                      </div>
                  </div>
          </div>
        </div>
      </div>
    </div>
</div>
