<div class="modal-header">
    <div class="row">
        <div class="col-md-12">
            <strong>Lý do huỷ bồi hoàn</strong>
        </div>
    </div>
</div>

<div class="modal-body wrapper-md">
    <form>
        <div class="form-group">
            <label>Nội dung (<span class="text-danger">*</span>)</label>
            <textarea name="" id="" class="form-control" required ng-model="frm.rnote"></textarea>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="reject(frm)">Đồng ý</button>
    <button type="button" class="btn btn-default" ng-click="cancel()">Đóng</button>
</div>