<div ng-controller="WeightCtrl">
    <div class="wrapper-md bg-light b-b">
        <span class="m-n h2"><i class="fa fa-won text-info"></i> Cập nhật khối lượng đơn hàng</span>
        <div class="pull-right">
            <a class="btn m-b-xs w-xs btn-success" ui-sref="delivery.upload.upload_weight({id:''})">Cập nhật</a>
        </div>
    </div>
    <div class="hbox hbox-auto-xs hbox-auto-sm">
        <div class="col wrapper-sm">
            <div class="panel panel-default">
                <div class="panel-heading">

                    <form class="form-horizontal"  ng-submit="setPage(1)" name="frmSearch">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group controls padder input-group">
                                    <input type="text" class="form-control" placeholder="Từ ngày ..."
                                       ng-model="time.create_start"
                                       datepicker-popup="dd-MM-yyyy"
                                       is-open="create_start_open"
                                       datepicker-options="dateOptions"
                                       ng-required="true"
                                       close-text="Close"
                                        />
                                      <span class="input-group-btn icon-input">
                                        <i class="btn fa fa-calendar "></i>
                                      </span>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="form-group controls input-group">
                                    <input type="text" class="form-control" placeholder="Đến ngày ..."
                                       ng-model="time.create_end"
                                       datepicker-popup="dd-MM-yyyy"
                                       is-open="create_end_open"
                                       datepicker-options="dateOptions"
                                       close-text="Close"
                                        />
                                        <span class="input-group-btn icon-input">
                                            <i class="btn fa fa-calendar "></i>
                                        </span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-3 padder-v">
                                <button type="submit" class="btn m-b-xs btn-info"><i class="fa fa-search"></i> Tìm kiếm</button>
                            </div>
                        </div>

                    </form>
                </div>

                <div class="panel-body">
                    <div class="table-responsive m-t">
                        <table class="table-condensed table-hover w-full">
                            <thead>
                            <tr>
                                <th width="5%">
                                    STT
                                </th>
                                <th>
                                    Thời gian tạo
                                </th>
                                <th>
                                    Người cập nhật
                                </th>
                                <th>
                                    Tên file
                                </th>
                                <th>
                                    Trạng thái
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr ng-if="waiting">
                                    <td colspan="5" class="text-center">
                                        <i class="text-3x fa fa-spinner fa-spin"></i>
                                    </td>
                                </tr>
                                <tr ng-if="totalItems == 0 && !waiting">
                                    <td colspan="5" class="text-center">
                                        Không có dữ liệu
                                    </td>
                                </tr>
                                <tr ng-repeat="key in keys(list_data)">
                                    <td>{{item_stt + $index + 1}}</td>
                                    <td>{{list_data[key].time_create *1000 | date:"dd-MM-yyyy HH:mm"}}</td>
                                    <td>{{User[list_data[key].user_id]['fullname']}}</td>
                                    <td><a ng-href="{{link_storage}}{{list_data[key].link_download}}"><span class="text-info">{{list_data[key].name}}</span></a></td>
                                    <td>
                                        <a ui-sref="delivery.upload.upload_weight({id:'{{key}}'})" target="_blank">
                                            <span class="label text-base ng-binding bg-success" ng-if="list_data[key].action.insert > 0">Đã cập nhật ( Click ... )</span>
                                            <span class="label text-base ng-binding bg-danger" ng-if="list_data[key].action.delete > 0">Đã Xóa ( Click ... )</span>
                                            <span class="label text-base ng-binding bg-info" ng-if="list_data[key].action.del == 0 && list_data[key].action.insert == 0">Chưa cập nhật ( Click ... )</span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row" ng-show="totalItems > 0 && !waiting">
                            <div class="col-sm-3 wrapper-md pull-left">
                                <strong>Tổng số</strong> : <i class="text-danger">{{totalItems || '0'}}</i> bản ghi
                            </div>
                            <div class="col-sm-4 text-right text-center-xs pull-right">
                                <pagination total-items="totalItems" ng-model="currentPage" data-max-size="maxSize" items-per-page="{{item_page}}" ng-change="setPage(currentPage)"></pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>