<div class="wrapper-md bg-light b-b">
  <h1 class="m-n font-thin h3 text-black"><i class="fa fa-envelope-o text-info"></i> Thống kê khách hàng</h1>
  <small class="text-muted">
  </small>
</div>

<div class="hbox hbox-auto-xs hbox-auto-sm" data-ng-controller="StatisticCtrl">
	<div class="col wrapper-sm">
		<div class="panel panel-default">
			<div class="panel-heading">
		        <form class="form-validation form-horizontal" ng-submit="setPage(num)">
		            <div class="row">
		                <div class="col-md-3">
		                    <div class="form-group controls padder">
		                        <input type="text" placeholder="Lượng vận đơn trong ngày" class="form-control" ng-model="num">
		                    </div>
		                </div>
		            </div>
		            <div class="row">
		                <div class="col-xs-1">
		                  <button class="btn btn-info" type="submit">Tìm kiếm</button>
		                </div>
		            </div>
		        </form>
	      </div>
		</div>
		<div class="panel-body table-responsive">
	        <table class="table table-condensed table-hover w-full">
	            <thead>
	                <tr>
	                    <th>Số khách hàng tạo mới</th>
	                    <th>Số lượng khách phát sinh đơn</th>
	                    <th>Lượng đơn</th>
	                </tr>
	            </thead>
	            <tbody>
	              <tr ng-if="stateLoading">
	                  <td colspan="20" class="text-center">
	                      <i class="text-3x fa fa-spinner fa-spin"></i>
	                  </td>
	              </tr>
	              <tr ng-if="totalItems == 0 && !stateLoading">
	                  <td colspan="20" class="text-center">Không có dữ liệu</td>
	              </tr>
	              
	                <tr ng-repeat="key in listData">
	                    <td>{{ item_stt + $index + 1}}</td>
	                    <td>{{key.fullname}}</td>
	                    <td>{{key.email}}</td>
	                </tr>
	            </tbody>
	        </table>
	    </div>
	</div>
</div>