<div class="modal-header">
    <div class="row">
        <div class="col-md-12">
            Lọc theo nhân viên được giao
        </div>
    </div>
</div>

<div class="modal-body wrapper-md">
    <p>Theo nhóm :</p>
    <div ui-module="select2"  >
        <select ui-select2 class="form-control" multiple="multiple" ng-model="assgin_group" ng-change="select2Change(assgin_group)">
            <option ng-repeat="item in ticket_group" value="{{item}}">{{item.name}}</option>
        </select>
    </div> <br/>
    <p>Theo nhân viên :</p>
    <div ng-repeat="user in admins" >
        <div class="col-md-6">
            <div class="checkbox">
              <label class="i-checks">
                <input type="checkbox" ng-model="filter_user_selected.assginer[user.user_id]">
                <i></i>
                {{user.user.fullname + ' - ' + user.user.email }}
              </label>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="save()">Đồng ý</button>
    <button type="button" class="btn btn-default" ng-click="cancel()">Đóng</button>
</div>