
    <div class="modal-header">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-7 pull-left no-padder">
                    <h4 class="modal-title">Ghi chú</h4>
                </div>
                <button type="button" class="pull-right close" ng-click="close()"><i class="fa fa-times"></i></button>
            </div>
        </div>
    </div>

    <div class="modal-body wrapper-md">
        <form class="form-horizontal form-validation" name="frmAdd">

            <div class="form-group">
                <label class="col-lg-3 control-label">Nội dung ghi chú</label>
                <div class="col-lg-9">
                    <textarea rows="5" class="form-control w-full" ng-model="data.note"  placeholder="Nội dung xử lý ..."></textarea>
                </div>
            </div>
        </form>
    </div>
    
    <div class="modal-footer">
        <button class="btn" ng-click="close()">Hủy bỏ</button>
        <button class="btn btn-info" ng-disabled="frmAdd.$invalid || saveProcess" ng-click="save(data)">Xác nhận</button>

    </div>