<div class="fade-in-right" ng-controller="UploadServiceCtrl">
    <div class="hbox hbox-auto-xs hbox-auto-sm">
        <div class="col wrapper-sm">
            <div class="clearfix m-b">
                <div class="panel panel-default">
                    <div class="panel-heading h2">
                        <i class="fa fa-upload text-info"></i>
                        Đối soát dịch vụ
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-12">
                            <div class="col-lg-4 no-padder">
                                <input type="file" tabindex="-1"
                                    style="position: absolute; clip: rect(0px 0px 0px 0px);"
                                    ui-jq="filestyle"
                                    nv-file-select
                                    uploader="uploader"
                                    data-icon="false"
                                    data-classbutton="btn btn-default"
                                    data-classinput="form-control inline v-middle input-s"
                                />
                                <p class="m-t-xs">
                                    <a target="_blank" ng-href="{{link_storage}}template/VerifyService.xls" class="text-info"><i class="fa fa-upload"></i> Download Template</a>
                                </p>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group controls">
                                    <select class="form-control" ng-model="courier_id">
                                        <option value="">Hãng vận chuyển</option>
                                        <option ng-repeat="item in list_courier" value="{{item.id}}">{{item.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <button class="btn btn-info m-l-md" type="button" ng-click="uploader.uploadAll()"><i class="fa fa-upload"></i> Upload</button>

                            <div class="btn-group pull-right">
                                <button ng-if="check_privilege('PRIVILEGE_ACCOUNTING_VERIFY','edit') && NewTotal > 0" type="button" class="btn m-b-xs btn-primary" ng-click="Verify()">Đối soát</button>
                                <button type="button" class="btn m-b-xs btn-success pull-right" ng-show="$stateParams.code" ng-disabled="waiting_export" ng-click="exportExcel()">
                                    <i ng-show="!waiting_export" class="fa fa-file-excel-o"></i>
                                    <i ng-show="waiting_export" class="fa fa-spinner fa-spin"></i>
                                    Xuất Excel
                                </button>
                            </div>
                        </div>
                        <tabset class="tab-container tab-inside" ng-if="$stateParams.code">
                            <tab ng-click="ChangeTab('ALL')">
                                <tab-heading>
                                    &nbsp;Tất cả&nbsp;
                                </tab-heading>
                            </tab>
                            <tab ng-click="ChangeTab('NOT_ACTIVE')">
                                <tab-heading>
                                    &nbsp;Mới tạo&nbsp;
                                </tab-heading>
                            </tab>
                            <tab ng-click="ChangeTab('SUCCESS')">
                                <tab-heading>
                                    &nbsp;Đã xử lý&nbsp;
                                </tab-heading>
                            </tab>
                            <tab ng-click="ChangeTab('MISMATCH')">
                                <tab-heading>
                                    &nbsp;Sai lệch&nbsp;
                                </tab-heading>
                            </tab>
                        </tabset>

                        <div class="tab-container" ng-if="$stateParams.code">
                            <progressbar ng-if="dynamic != 0 && dynamic != 100" value="dynamic" type="success">{{dynamic || '0'}}%</progressbar>
                            <div class="table-responsive">
                                <table class="table-condensed w-full">
                                    <thead>
                                    <tr>
                                        <th width="5%">
                                            STT
                                        </th>
                                        <th class="text-center">
                                            Mã vận đơn
                                        </th>
                                        <th class="text-center">
                                            Mã hãng vận chuyển
                                        </th>
                                        <th colspan="2">
                                            Dịch vụ
                                        </th>
                                        <th colspan="2">
                                            Khối lượng
                                        </th>
                                        <th colspan="2">
                                            Thu hộ
                                        </th>

                                        <th colspan="2">
                                            Tỉnh,TP gửi
                                        </th>

                                        <th colspan="2">
                                            Tỉnh, TP nhận
                                        </th>

                                        <th class="text-center">Trạng thái</th>
                                    </tr>

                                    <tr>
                                        <th colspan="3"></th>

                                        <th class="bg-info">SC</th>
                                        <th class="bg-info">HVC</th>

                                        <th class="bg-info">SC</th>
                                        <th class="bg-info">HVC</th>

                                        <th class="bg-info">SC</th>
                                        <th class="bg-info">HVC</th>

                                        <th class="bg-info">SC</th>
                                        <th class="bg-info">HVC</th>

                                        <th class="bg-info">SC</th>
                                        <th class="bg-info">HVC</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody class="no-border" >
                                        <tr ng-if="waiting">
                                            <td colspan="30" class="text-center">
                                                <i class="text-3x fa fa-spinner fa-spin"></i>
                                            </td>
                                        </tr>
                                        <tr ng-if="totalItems == 0 && !waiting">
                                            <td colspan="30" class="text-center">Không có dữ liệu</td>
                                        </tr>
                                        <tr ng-repeat="item in list_data" ng-class="{'bg-warning' : item.status != 'SUCCESS' && item.status != 'NOT_ACTIVE'}">
                                            <td>
                                                {{item_stt + $index + 1}}
                                            </td>
                                            <td class="text-center text-info">
                                                {{item.tracking_code}}
                                            </td>
                                            <td class="text-center">
                                                {{item.courier_track_code}}
                                            </td>
                                            <td>
                                                {{item.sc_service}}
                                            </td>

                                            <td class="b-l b-info">
                                                {{item.courier_service}}
                                            </td>

                                            <td>
                                                {{item.sc_weight | vnNumber }}
                                            </td>

                                            <td class="b-l b-info">
                                                {{item.courier_weight | vnNumber }}
                                            </td>

                                            <td>
                                                {{item.sc_money_collect | vnNumber }}
                                            </td>

                                            <td class="b-l b-info">
                                                {{item.courier_money_collect | vnNumber }}
                                            </td>

                                            <td>
                                                {{city[city_map[item.sc_from_city]] || item.sc_from_city}}
                                            </td>

                                            <td class="b-l b-info">
                                                {{city[city_map[item.courier_from_city]] || item.courier_from_city}}
                                            </td>

                                            <td>
                                                {{item.sc_to_city}}
                                            </td>

                                            <td class="b-l b-info">
                                                {{item.courier_to_city}}
                                            </td>

                                            <td class="text-center"><span class="label text-base ng-binding {{list_status[item.status].color}}">{{list_status[item.status].text || item.status}}</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row" ng-show="totalItems > 0 && !waiting">
                                <div class="col-sm-3 wrapper-md pull-left">
                                    <strong>Tổng số</strong> : <i class="text-danger">{{totalItems || '0'}}</i> bản ghi
                                </div>
                                <div class="col-sm-4 text-right text-center-xs pull-right">
                                    <pagination total-items="totalItems" ng-model="currentPage" data-max-size="maxSize" items-per-page="{{item_page}}" ng-change="load(currentPage)"></pagination>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
                <!--/ Panel-->
            </div>
        </div>
    </div>
</div>