<toaster-container toaster-options="{'position-class': 'toast-bottom-right', 'close-button':true}"></toaster-container>
<div ng-controller="EstimateCtrl">
	<div class="bg-light lter b-b wrapper-md col-sm-12">
        <h1 class="m-n text-title text-size font-thin h3 pull-left">Quản trị thời gian giao nhận</h1>
    </div>
    <div class="col">
    	<div class="clearfix">
	        <div class="col-md-2 m-t-md">
	        	<h4>Hãng vận chuyển</h4>
                <select ng-options="courier.id as courier.name for courier in listCourier" class="form-control"
                      ng-model="courier">
                    <option value="">Chọn</option>
                </select>
	        </div>
	        <div class="col-md-2 m-t-md">
                <h4>Tỉnh thành đi</h4>
                <select ng-options="city.id as city.city_name for city in listCity" class="form-control"
                      ng-model="from_city_id" ng-change="loadDistrict(from_city_id);">
                    <option value="">Chọn</option>
                </select>
            </div>
            <div class="col-md-2 m-t-md">
                <h4>Quận huyện đi</h4>
                <select ng-options="district.id as district.district_name for district in listDistrictByCity" class="form-control"
                      ng-model="from_district_id">
                    <option value="">Chọn</option>
                </select>
            </div>
            <div class="col-md-2 m-t-md">
                <h4>Tỉnh thành đến</h4>
                <select ng-options="city.id as city.city_name for city in listCity" class="form-control"
                      ng-model="to_city_id" ng-change="loadDistrictTo(to_city_id);">
                    <option value="">Chọn</option>
                </select>
            </div>
            <div class="col-md-2 m-t-md">
                <h4>Quận huyện đến</h4>
                <select ng-options="district.id as district.district_name for district in listDistrictByCityTo" class="form-control"
                      ng-model="to_district_id">
                    <option value="">Chọn</option>
                </select>
            </div>
	    </div>
	    <div class="clearfix">
	        <div class="col-md-1 m-t-md">
	        	<button class="btn btn-sm btn-success" ng-click="setPage(currentPage,courier,from_district_id,to_district_id)">Search</button>
	        </div>
	    </div>
    </div>
    <div class="col wrapper-sm">
		<div class="clearfix m-b">
			<div class="panel">
			    <div class="panel-body">
			    	<table class="table table-striped b-t b-light table-hover">
			            <thead>
			            	<th>#</th>
			                <th>Hãng vận chuyển</th>
			                <th>Dịch vụ</th>
			                <th>Từ quận</th>
			                <th>Đến quận</th>
			                <th>Thời gian lấy hàng</th>
			                <th>Thời gian giao hàng</th>
			                <th>Thời gian chuyển hoàn</th>
			                <th>Trạng thái</th>
			            </thead>
			            <tbody class="text-sm">
			            	<tr ng-repeat="value in listData">
			            		<td>{{ item_stt + $index + 1}}</td>
			            		<td>
			            			{{listCourierC[value.courier]}}
			            		</td>
			            		<td>{{listService[value.service_id]}}</td>
			            		<td>{{listDistrict[value.from_district_id]}}</td>
			            		<td>{{listDistrict[value.to_district_id]}}</td>
			            		<td>{{(value.time_pickup - value.total_pickup)/3600 | number:0}}h</td>
			            		<td>{{(value.time_delivery - value.total_delivery)/3600 | number:0}}h</td>
			            		<td>
			            			{{(value.time_return - value.total_return)/3600 | number:0}}h
			            		</td>
			            		<td>
			            			<label class="i-switch bg-primary m-t-xs m-r">
					                    <input type="checkbox" ng-model="active" ng-change="setActive(active,'active',value.id)" ng-checked="value.active == 1" ng-true-value="1" ng-false-value="0" />
					                    <i></i>
					                </label>
			            		</td>
			            	</tr>
			            </tbody>
			        </table>
			    </div>
			</div>
		</div>
	</div>
	<footer class="panel-footer">
      <div class="row">
        <div class="col-sm-4 text-right text-center-xs pull-right">                
            <pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" items-per-page="{{item_page}}" ng-change="setPage(currentPage,courier,from_district_id,to_district_id)"></pagination>
        </div>
      </div>
    </footer>
</div>